@using FirstWebStore.Models
@model IndexViewModel;

@{
    ViewBag.Title = "SpareParts";
}

<form method="get">
    <label>Name: </label>
    <input name="name" value="@Model.FilterViewModel.SelectedName" />

    <label>Type: </label>
    <select name="type" asp-items="Html.GetEnumSelectList<SparePartType>()"></select>

    <input type="submit" value="Filter" />
</form>

<table class="table">
    <tr><th>Id</th><th>Name</th><th>New SparePart</th><th>Price</th></tr>
    @foreach (var item in Model.ProductBase)
    {
        @if (item is SparePart s)
        {
            <tr>
                <td>@s.Id</td>
                <td>@s.PartsType @s.Name</td>
                <td>@if(s.NewSparePart)
                    {
                        <p>New</p>
                    }
                    else
                    {
                        <p>Used</p>
                    }
                </td>
            <td>@item.Price</td>
            
            <td><form asp-action="Edit" asp-controller="Home" method="get" asp-route-id="@item.Id"><input type="submit" value="Edit" /></form></td>
            <td><form asp-action="Delete" asp-controller="Home" method="post" asp-route-id="@item.Id"><input type="submit" value="Delete" /></form></td>
        </tr>
        }
    }
</table>
